body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
body .r-ss-example-section {
  display: block;
  float: left;
  width: 49%;
  margin-right: 1%;
}
body .r-ss-example-section:last-child {
  margin-right: 0;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 1em;
}
.footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding: 20px 0;
  font-size: 12px;
  color: #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 100;
  margin: 0.5em 0;
}
label {
  color: #999;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
}
.hint {
  margin: 15px 0;
  font-style: italic;
  color: #999;
}
.r-ss-wrap {
  position: relative;
  width: 100%;
  -webkit-border-top-right-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  -webkit-border-bottom-left-radius: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  -moz-border-radius-topright: 0.25rem;
  -moz-border-radius-bottomright: 0.25rem;
  -moz-border-radius-bottomleft: 0.25rem;
  -moz-border-radius-topleft: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r-ss-wrap.r-ss-expanded {
  z-index: 1;
  background-color: #ffffff;
}
.r-ss-wrap * {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r-ss-button {
  background: none;
  background-color: none;
  border: none;
}
.r-ss-trigger {
  position: relative;
  display: block;
  line-height: 30px;
  padding: 0.25rem 18px 0.25rem 0.25rem;
  border-color: #333333;
  border: 1px solid rgba(51, 51, 51, 0.45);
  text-decoration: none;
  color: #333333;
  -webkit-border-top-right-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  -webkit-border-bottom-left-radius: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  -moz-border-radius-topright: 0.25rem;
  -moz-border-radius-bottomright: 0.25rem;
  -moz-border-radius-bottomleft: 0.25rem;
  -moz-border-radius-topleft: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
}
.r-ss-trigger .r-ss-selected-label {
  padding: 0 .5rem;
  border-left: 1px solid #9e9e9e;
}
.r-ss-trigger .r-ss-selected-label:first-child {
  padding-left: 0;
  border-left: none;
}
.r-ss-trigger.r-ss-open {
  -webkit-border-top-right-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0.25rem;
  -moz-border-radius-topright: 0.25rem;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0.25rem;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.r-ss-trigger.r-ss-open:focus {
  border-color: rgba(51, 51, 51, 0.45);
}
.r-ss-trigger.r-ss-placeholder {
  color: rgba(51, 51, 51, 0.45);
}
.r-ss-trigger:focus {
  border-color: black;
}
.r-ss-trigger .carat {
  position: absolute;
  right: .25rem;
  height: 0;
  width: 0;
  border: 8px solid transparent;
}
.r-ss-trigger .carat.up {
  bottom: 17px;
  border-color: transparent transparent #333333 transparent;
}
.r-ss-trigger .carat.down {
  bottom: 9px;
  border-color: #333333 transparent transparent transparent;
}
.r-ss-search-aria-label {
  display: none;
}
.r-ss-search-inner {
  position: relative;
  width: 96%;
  height: 34px;
  padding: 2px 0;
  margin: 0 auto;
}
.r-ss-search-inner input {
  border-color: #333333;
  border: 1px solid rgba(51, 51, 51, 0.45);
  text-decoration: none;
  color: #333333;
  -webkit-border-top-right-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  -webkit-border-bottom-left-radius: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  -moz-border-radius-topright: 0.25rem;
  -moz-border-radius-bottomright: 0.25rem;
  -moz-border-radius-bottomleft: 0.25rem;
  -moz-border-radius-topleft: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  width: 100%;
  height: 30px;
  padding: 0.25rem 18px 0.25rem 0.25rem;
}
.r-ss-search-inner .r-ss-magnifier {
  position: absolute;
  top: 7px;
  right: .25rem;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUeNpiZMAPHIDYH4gNoPwLQLwQShME84H4PxCfB+IGIO6Hsv9D2QQ1vwfiACxyCVC5fnzO/o9DM7Ih/5G8hgJgTiUEQGr6mbBIgEzdSIQBB0BqmRjIBx9BBDYDHkCjjhDwxxWdxARiAFSNAznRGACVm49NowA0dN9jSUgNSAkJr+b/SNHoAFW8H4r7cTkbXbMAKdFBkWYQWE+JZmYg1gTiD0AcCKVJAgABBgCVaTZGiswDxwAAAABJRU5ErkJggg==');
  cursor: pointer;
}
.r-ss-dropdown {
  position: absolute;
  top: 99%;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0.25rem;
  -webkit-border-bottom-left-radius: 0.25rem;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0.25rem;
  -moz-border-radius-bottomleft: 0.25rem;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ffffff;
  border-color: #333333;
  border: 1px solid transparent;
  border: 1px solid rgba(51, 51, 51, 0.45);
  border-top: none;
  max-height: 350px;
  width: 100%;
}
.r-ss-dropdown .r-ss-options-wrap {
  position: relative;
  max-height: 316px;
  width: 100%;
  overflow-y: auto;
}
.r-ss-dropdown .r-ss-dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
}
.r-ss-dropdown .r-ss-option-group-heading {
  width: 100%;
  word-wrap: break-word;
  padding: .25rem;
  background-color: #ededed;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  border-top: 1px solid rgba(51, 51, 51, 0.45);
  border-bottom: 1px solid rgba(51, 51, 51, 0.45);
  margin-top: .5rem;
  padding: .5rem .25rem;
}
.r-ss-dropdown .r-ss-option-group-heading:focus,
.r-ss-dropdown .r-ss-option-group-heading::selection,
.r-ss-dropdown .r-ss-option-group-heading.focused {
  outline: none;
  background-color: rgba(0, 136, 204, 0.1);
  border-color: 1px solid #000000;
}
.r-ss-dropdown .r-ss-dropdown-option {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  padding: .25rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.r-ss-dropdown .r-ss-dropdown-option:last-child {
  border-bottom: none;
}
.r-ss-dropdown .r-ss-dropdown-option:hover {
  background-color: rgba(51, 51, 51, 0.1);
}
.r-ss-dropdown .r-ss-dropdown-option.active {
  background-color: rgba(51, 51, 51, 0.2);
}
.r-ss-dropdown .r-ss-dropdown-option.r-ss-selected {
  background-color: #ffffdd;
}
.r-ss-dropdown .r-ss-dropdown-option.r-ss-selected:focus,
.r-ss-dropdown .r-ss-dropdown-option.r-ss-selected::selection {
  background-color: #ffffdd;
}
.r-ss-dropdown .r-ss-dropdown-option:focus,
.r-ss-dropdown .r-ss-dropdown-option::selection {
  outline: none;
  background-color: rgba(0, 136, 204, 0.1);
  border: 1px solid #000000;
}
.r-ss-page-fetch-indicator {
  list-style: none;
  border-top: 1px solid rgba(51, 51, 51, 0.45);
  opacity: .5;
  margin: 0;
  padding: .25rem 0;
}
.r-ss-loader {
  display: block;
  margin: .5rem;
  background-image: url('data:image/gif;base64,R0lGODlhHwAfAPUAAP///zMzM+zs7Nra2snJyb6+vrS0tOLi4sbGxq6urunp6d/f37q6urKysr+/v9bW1vf397m5udzc3Orq6l5eXlFRUXJycs/Pz4yMjKenp3d3d/r6+oaGhmpqatHR0fn5+WxsbFpaWgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAHwAfAAAG/0CAcEgUDAgFA4BiwSQexKh0eEAkrldAZbvlOD5TqYKALWu5XIwnPFwwymY0GsRgAxrwuJwbCi8aAHlYZ3sVdwtRCm8JgVgODwoQAAIXGRpojQwKRGSDCRESYRsGHYZlBFR5AJt2a3kHQlZlERN2QxMRcAiTeaG2QxJ5RnAOv1EOcEdwUMZDD3BIcKzNq3BJcJLUABBwStrNBtjf3GUGBdLfCtadWMzUz6cDxN/IZQMCvdTBcAIAsli0jOHSJeSAqmlhNr0awo7RJ19TJORqdAXVEEVZyjyKtE3Bg3oZE2iK8oeiKkFZGiCaggelSTiA2LhxiZLBSjZjBL2siNBOFQ84LxHA+mYEiRJzBO7ZCQIAIfkECQoAAAAsAAAAAB8AHwAABv9AgHBIFAwIBQPAUCAMBMSodHhAJK5XAPaKOEynCsIWqx0nCIrvcMEwZ90JxkINaMATZXfju9jf82YAIQxRCm14Ww4PChAAEAoPDlsAFRUgHkRiZAkREmoSEXiVlRgfQgeBaXRpo6MOQlZbERN0Qx4drRUcAAJmnrVDBrkVDwNjr8BDGxq5Z2MPyUQZuRgFY6rRABe5FgZjjdm8uRTh2d5b4NkQY0zX5QpjTc/lD2NOx+WSW0++2RJmUGJhmZVsQqgtCE6lqpXGjBchmt50+hQKEAEiht5gUcTIESR9GhlgE9IH0BiTkxrMmWIHDkose9SwcQlHDsOIk9ygiVbl5JgMLuV4HUmypMkTOkEAACH5BAkKAAAALAAAAAAfAB8AAAb/QIBwSBQMCAUDwFAgDATEqHR4QCSuVwD2ijhMpwrCFqsdJwiK73DBMGfdCcZCDWjAE2V347vY3/NmdXNECm14Ww4PChAAEAoPDltlDGlDYmQJERJqEhGHWARUgZVqaWZeAFZbERN0QxOeWwgAAmabrkMSZkZjDrhRkVtHYw+/RA9jSGOkxgpjSWOMxkIQY0rT0wbR2LQV3t4UBcvcF9/eFpdYxdgZ5hUYA73YGxruCbVjt78G7hXFqlhY/fLQwR0HIQdGuUrTz5eQdIc0cfIEwByGD0MKvcGSaFGjR8GyeAPhIUofQGNQSgrB4IsdOCqx7FHDBiYcOQshYjKDxliVDpRjunCjdSTJkiZP6AQBACH5BAkKAAAALAAAAAAfAB8AAAb/QIBwSBQMCAUDwFAgDATEqHR4QCSuVwD2ijhMpwrCFqsdJwiK73DBMGfdCcZCDWjAE2V347vY3/NmdXNECm14Ww4PChAAEAoPDltlDGlDYmQJERJqEhGHWARUgZVqaWZeAFZbERN0QxOeWwgAAmabrkMSZkZjDrhRkVtHYw+/RA9jSGOkxgpjSWOMxkIQY0rT0wbR2I3WBcvczltNxNzIW0693MFYT7bTumNQqlisv7BjswAHo64egFdQAbj0RtOXDQY6VAAUakihN1gSLaJ1IYOGChgXXqEUpQ9ASRlDYhT0xQ4cACJDhqDD5mRKjCAYuArjBmVKDP9+VRljMyMHDwcfuBlBooSCBQwJiqkJAgAh+QQJCgAAACwAAAAAHwAfAAAG/0CAcEgUDAgFA8BQIAwExKh0eEAkrlcA9oo4TKcKwharHScIiu9wwTBn3QnGQg1owBNld+O72N/zZnVzRApteFsODwoQABAKDw5bZQxpQ2JkCRESahIRh1gEVIGVamlmXgBWWxETdEMTnlsIAAJmm65DEmZGYw64UZFbR2MPv0QPY0hjpMYKY0ljjMZCEGNK09MG0diN1gXL3M5bTcTcyFtOvdzBWE+207pjUKpYrL+wY7MAB4EerqZjUAG4lKVCBwMbvnT6dCXUkEIFK0jUkOECFEeQJF2hFKUPAIkgQwIaI+hLiJAoR27Zo4YBCJQgVW4cpMYDBpgVZKL59cEBhw+U+QROQ4bBAoUlTZ7QCQIAIfkECQoAAAAsAAAAAB8AHwAABv9AgHBIFAwIBQPAUCAMBMSodHhAJK5XAPaKOEynCsIWqx0nCIrvcMEwZ90JxkINaMATZXfju9jf82Z1c0QKbXhbDg8KEAAQCg8OW2UMaUNiZAkREmoSEYdYBFSBlWppZl4AVlsRE3RDE55bCAACZpuuQxJmRmMOuFGRW0djD79ED2NIY6TGCmNJY4zGQhBjStPTFBXb21DY1VsGFtzbF9gAzlsFGOQVGefIW2LtGhvYwVgDD+0V17+6Y6BwaNfBwy9YY2YBcMAPnStTY1B9YMdNiyZOngCFGuIBxDZAiRY1eoTvE6UoDEIAGrNSUoNBUuzAaYlljxo2M+HIeXiJpRsRNMaq+JSFCpsRJEqYOPH2JQgAIfkECQoAAAAsAAAAAB8AHwAABv9AgHBIFAwIBQPAUCAMBMSodHhAJK5XAPaKOEynCsIWqx0nCIrvcMEwZ90JxkINaMATZXfjywjlzX9jdXNEHiAVFX8ODwoQABAKDw5bZQxpQh8YiIhaERJqEhF4WwRDDpubAJdqaWZeAByoFR0edEMTolsIAA+yFUq2QxJmAgmyGhvBRJNbA5qoGcpED2MEFrIX0kMKYwUUslDaj2PA4soGY47iEOQFY6vS3FtNYw/m1KQDYw7mzFhPZj5JGzYGipUtESYowzVmF4ADgOCBCZTgFQAxZBJ4AiXqT6ltbUZhWdToUSR/Ii1FWbDnDkUyDQhJsQPn5ZU9atjUhCPHVhgTNy/RSKsiqKFFbUaQKGHiJNyXIAAh+QQJCgAAACwAAAAAHwAfAAAG/0CAcEh8JDAWCsBQIAwExKhU+HFwKlgsIMHlIg7TqQeTLW+7XYIiPGSAymY0mrFgA0LwuLzbCC/6eVlnewkADXVECgxcAGUaGRdQEAoPDmhnDGtDBJcVHQYbYRIRhWgEQwd7AB52AGt7YAAIchETrUITpGgIAAJ7ErdDEnsCA3IOwUSWaAOcaA/JQ0amBXKa0QpyBQZyENFCEHIG39HcaN7f4WhM1uTZaE1y0N/TacZoyN/LXU+/0cNyoMxCUytYLjm8AKSS46rVKzmxADhjlCACMFGkBiU4NUQRxS4OHijwNqnSJS6ZovzRyJAQo0NhGrgs5bIPmwWLCLHsQsfhxBWTe9QkOzCwC8sv5Ho127akyRM7QQAAOwAAAAAAAAAAAA==');
  background-position: center center;
  background-repeat: no-repeat;
  height: 31px;
}
.r-ss-tag {
  display: inline-block;
  position: relative;
  padding: 0 20px 0 7px;
  margin: 0 0 .25rem .95rem;
  background-color: #ededed;
  color: #333333;
  max-width: 100%;
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 22px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 1px 1px 1px #333333;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.r-ss-tag.r-ss-tag-label {
  white-space: nowrap;
}
.r-ss-tag:after {
  content: '';
  position: absolute;
  left: -0.2rem;
  top: 35%;
  height: 5px;
  width: 5px;
  background-color: #FFF;
  border: 1px solid #999;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.r-ss-tag:before {
  content: '';
  position: absolute;
  left: -23px;
  top: 0;
  height: 0;
  width: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #ededed;
}
.r-ss-tag .r-ss-tag-remove {
  opacity: .25;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
  font-size: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  z-index: 1;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.r-ss-tag .r-ss-tag-remove > span:before {
  position: aboslute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'X';
}
.r-ss-tag .r-ss-tag-remove:hover,
.r-ss-tag .r-ss-tag-remove:focus {
  opacity: 1;
  color: #ffffff;
  background-color: #ff0000;
}
