
/*
// Examples Stylesheet
// -------------------
*/
/* vars */
@paleGreyFallback: #333;
@paleGrey: rgba(51, 51, 51, .45);
@palerGrey: rgba(51, 51, 51, .20);
@palestGrey: rgba(51, 51, 51, .10);
@black: #000000;
@focusBlue: rgba(0, 136, 204, .1);
@yellow: #FFD;

@activeBackground: @palerGrey;
@hoverBackground: @palestGrey;
@borderFallback: @paleGreyFallback;
@border: @paleGrey;
@borderSelected: @black;
@selectedBackground: @yellow;
@slightBorder: @palestGrey;
@inputWithIconPadding: 16px;


body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;

  .r-ss-example-section {
    display: block;
    float: left;
    width: 49%;
    margin-right: 1%;

    &:last-child {
      margin-right: 0;
    }
  }
}

a {
  color: #08c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 1em;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding: 20px 0;
  font-size: 12px;
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 100;
  margin: 0.5em 0;
}

label {
  color: #999;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
}

.hint {
  margin: 15px 0;
  font-style: italic;
  color: #999;
}

/* mixins */
.background-clip(@argument: padding-box) {
  -moz-background-clip: @argument;
  -webkit-background-clip: @argument;
  background-clip: @argument;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  .background-clip(padding-box);
}

.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

/* control */
.r-ss-wrap {
  position: relative;
  width: 100%;
  .box-sizing;
}

.r-ss-wrap * {
  .box-sizing;
}

// .r-ss-hidden {
//   display: none;
// }

.r-ss-button {
  background: none;
  background-color: none;
  border: none;
}

.r-ss-trigger {
  position: relative;
  cursor: pointer;

  &.r-ss-open {
    a.r-ss-mock-input {
      .border-radius(.25rem, 0, 0, .25rem);

      &:focus {
        border-color: @border;
      }
    }
  }

  a.r-ss-mock-input {
    display: block;
    line-height: 30px;
    padding: 0 @inputWithIconPadding 0 0;
    border-color: @borderFallback;
    border: 1px solid @border;
    text-decoration: none;
    color: @borderFallback;
    .border-radius(.25rem, .25rem, .25rem, .25rem);
    cursor: pointer;
    outline: none;

    &:focus {
      border-color: black;
    }

    .r-ss-value-display {
      display: block;
      padding: .25rem @inputWithIconPadding .25rem .25rem;

      &.r-ss-placeholder {
        color: @border;
      }
    }
  }

  .carat {
    position: absolute;
    right: .25rem;
    height: 0;
    width: 0;
    border: 8px solid transparent;

    &.up {
      bottom: 17px;
      border-color: transparent transparent @borderFallback transparent;
    }

    &.down {
      bottom: 9px;
      border-color: @borderFallback transparent transparent transparent;
    }
  }

}

.r-ss-search-inner {
  position: relative;
  width: 96%;
  height: 34px;
  padding: 2px 0;
  margin: 0 auto;

  input {
    border-color: @borderFallback;
    border: 1px solid @border;
    text-decoration: none;
    color: @borderFallback;
    .border-radius(.25rem, .25rem, .25rem, .25rem);
    outline: none;
    width: 100%;
    height: 30px;
    padding: .25rem @inputWithIconPadding .25rem .25rem;
  }

  .r-ss-magnifier {
    position: absolute;
    top: 7px;
    right: .25rem;
    text-indent: -9999px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUeNpiZMAPHIDYH4gNoPwLQLwQShME84H4PxCfB+IGIO6Hsv9D2QQ1vwfiACxyCVC5fnzO/o9DM7Ih/5G8hgJgTiUEQGr6mbBIgEzdSIQBB0BqmRjIBx9BBDYDHkCjjhDwxxWdxARiAFSNAznRGACVm49NowA0dN9jSUgNSAkJr+b/SNHoAFW8H4r7cTkbXbMAKdFBkWYQWE+JZmYg1gTiD0AcCKVJAgABBgCVaTZGiswDxwAAAABJRU5ErkJggg==');
    cursor: pointer;
  }
}

.r-ss-dropdown {
  position: absolute;
  top: 99%;
  .border-radius(0, .25rem, .25rem, 0);
  background-color: #FFF;
  border-color: @borderFallback;
  border: 1px solid @border;
  border-top: none;
  height: 350px;
  width: 100%;
  z-index: 1;

  .r-ss-options-wrap {
    position: relative;
    height: 316px;
    width: 100%;
    overflow-y: auto;
  }

  .r-ss-dropdown-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .r-ss-dropdown-option {
    width: 100%;
    word-wrap: break-word;
    padding: .25rem;
    border-bottom: 1px solid @slightBorder;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: @hoverBackground;
    }

    &.active {
      background-color: @activeBackground;
    }

    &.selected {
      background-color: @selectedBackground;
    }

    &:focus,
    &::selection,
    &.focused {
      outline: none;
      background-color: @focusBlue;
      border-color: 2px solid @borderSelected;
    }

  }
}
